# Variabili da docker-compose.env (Paperless)
PAPERLESS_URL=https://origenecnc.com
PAPERLESS_SECRET_KEY=changeme
PAPERLESS_TIME_ZONE=Europe/Rome
PAPERLESS_OCR_LANGUAGE=ita
PAPERLESS_ADMIN_USER=admin
PAPERLESS_ADMIN_PASSWORD=changeme
PAPERLESS_TIKA_ENABLED=true
PAPERLESS_CSRF_TRUSTED_ORIGINS=https://origenecnc.com
PAPERLESS_CUSTOM_JS=
PAPERLESS_DEFAULT_PERMISSIONS_GROUPS=

# Variabili da docker-compose.yml (secret)
POSTGRES_PASSWORD=changeme
PAPERLESS_API_TOKEN=changeme
CUSTOM_API_KEY=changeme
